body {
    font-family: 'Courier New', monospace;
    margin: 0px;
}

#container {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    width: 750px;
    border: 10px solid black;
}

#display {
    box-sizing: border-box;
    background-color: rgb(28, 172, 172);
    padding-right: 15px;
    height: 130px;
    width: 750px;
    flex-shrink: 0;
    text-align: right;
    align-content: end;
    font-size: 92px;
    border-bottom: 10px solid black;
}

#interface {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.row > * {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    padding: 0px;
    font-size: 72px;
    text-align: center;
}

button {
    font-family: 'Courier New', monospace;
}